# Eclipse
.project
.classpath
.settings/
bin/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
lsp/

# environment infos
.env

# CAMPUSOnline copps app
copps*

# frontend

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
node_modules
node

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# misc
.sass-cache
npm-debug.log
yarn-error.log
testem.log

# System Files
.DS_Store
Thumbs.db
